# Tuple

In [22]:
t1 = (1, 2, 'a', ('ab', 'cd'))

type(t1)

tuple

In [23]:
# list는 mutable이므로 수정 가능
data_list = [1, 2, 3, 4, 5]
data_list[0] = 100

# tuple은 immutable이므로 수정 불가
data_tuple = (1, 2, 3, 4, 5)
data_tuple[0] = 100
del data_tuple[0]

TypeError: 'tuple' object does not support item assignment

# Set

In [24]:
data_set = {"IBM", "AAPL", "MSFT", "IBM", "AAPL", "MSFT"}

print(data_set)

{'IBM', 'AAPL', 'MSFT'}

In [25]:
# 사용자로 입력 받은 단어가 fruit 리스트에 포함되어 있는지 확인한 뒤,
# 포함되어있으면 "정답입니다." 출력
# 포함되어있지 않으면 "오답입니다." 출력

fruits = ["사과","포도","홍시"]

user_fruit = input("좋아하는 과일은? ")

print("정답입니다." if user_fruit in fruits else "오답입니다.")

if user_fruit in fruits:
    print("정답입니다.")
else:
    print("오답입니다.")

정답입니다.
정답입니다.

In [28]:
# 세 명의 학생과 각 학생의 성적을 리스트와 딕셔너리로 표현
# 각 학생의 평균 성적을 계산하여 출력
# 전체 학생들의 평균 성적을 출력
# 또한, 성적이 90 이상이 하나라도 있는 학생들을 찾아서 출력
students = [
    {
        "name": "Alice",
        "scores": [90, 85, 92]
    },
    {
        "name": "Bob",
        "scores": [78, 80, 88]
    },
    {
        "name": "Charlie",
        "scores": [95, 92, 89]
    }
]

sum_of_average_scores = 0
students_include_over_90 = []

# 각 학생의 평균 성적
# 1. students 리스트 순회
# 2. '{학생 이름} 평균: ' 출력
# 3. 해당 학생의 scores의 합계를 구하고, 길이를 가지고 평균을 계산
# 4. 평균 점수 출력 
# 5. 평균 점수를 전체 평균에 더하기
for student in students:
    print(f"{student['name']} 평균: ", end=" ")

    student_total_score = 0
    for score in student['scores']:
        student_total_score += score

    average_score = student_total_score / len(student['scores'])
    sum_of_average_scores += average_score
    print(f"{average_score:.1f}")

    if any(90 <= score for score in student["scores"]):
        students_include_over_90.append(student["name"])

# 전체 학생의 전체 평균
# 1. '전체 평균: ' 출력
# 2. 전체 평균 점수의 합에서 전체 학생 수로 나누기
# 3. {전체 평균 점수} 출력
print(f"전체 평균: {sum_of_average_scores / len(students)}")

# 점수가 90점 이상이 하나 이상 있는 학생 명단
# 1. '90점 이상인 학생명단: ' 출력
# 2. students_include_over_90 리스트 출력
print(f"90점 이상인 학생명단: {students_include_over_90}")

Alice 평균:  89.0
Bob 평균:  82.0
Charlie 평균:  92.0
전체 평균: 87.66666666666667
90점 이상인 학생명단: ['Alice', 'Charlie']

# 함수

In [29]:
def function_name(parameter):
    
    # 함수 내용

    return parameter

print(function_name('함수 호출'))

함수 호출

In [30]:
# 덧셈을 진행할 함수 선언
def add(a, b):
    return a + b

# add 함수 호출
add(1, 2)

3

In [31]:
# 3개의 숫자를 입력받아 가장 큰 수를 출력하는 num_max 함수
def num_max(a, b, c):
    if a >= b and a >= c:
        return a
    elif b >= a and b >= c:
        return b
    else:
        return c

print(num_max(10, 12, 7))


# 숫자 배열을 입력받아 가장 작은 값을 출력하는 num_min 함수
def num_min(numbers):
    min = numbers[0]
    for number in numbers:
        if number < min:
            min = number

    return min

print(num_min([52, 273, 32, 103, 12, 275, 24, 57]))

12
12

In [32]:
# 윤년을 확인하는 함수 
# 4로 나누어 떨어지는 해는 윤년
# 100으로 나누어 떨어지는 해는 평년
# 400으로 나누어 떨어지는 해는 윤년

def is_leap_year(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False

print(is_leap_year(2000))  # True
print(is_leap_year(1900))  # False
print(is_leap_year(2020))  # True
print(is_leap_year(2021))  # False
print(is_leap_year(2022))  # False

True
False
True
False
False

In [33]:
def add_many(*args):
    total = 0
    for number in args:
        total += number
    
    return total

print(add_many(1, 2, 3, 4, 5))  # 15
print(add_many(1, 2, 3))  # 6
print(add_many(1, 10))  # 11

15
6
11

In [34]:
# add_mul 함수 구현
# result = add_mul('add', 1,2,3,4,5) -> 15
# result = add_mul('mul', 1,2,3,4,5) > 120

def add_mul(operator, *numbers):
    if operator == 'add':
        result = 0
        for number in numbers:
            result += number
    elif operator == 'mul':
        result = 1
        for number in numbers:
            result *= number

    return result

print(add_mul('add', 1, 2, 3, 4, 5))  # 15
print(add_mul('mul', 1, 2, 3, 4, 5))  # 120

15
120

In [35]:
def add_and_mul(a, b):
    return a + b, a * b

result = add_and_mul(3, 4)
print(result)  # (7, 12)

result_1, result_2 = add_and_mul(3, 4)
print(result_1)  # 7
print(result_2)  # 12

(7, 12)
7
12

In [36]:
# 두 수를 받아 합, 차, 곱, 몫을 리턴하는 함수 구현
def calculate(a, b):
    return a + b, a - b, a * b, a // b

print(calculate(10, 3))  # (13, 7, 30, 3)

add_result, sub_result, mul_result, div_result = calculate(10, 3)
print(add_result)  # 13
print(sub_result)  # 7
print(mul_result)  # 30
print(div_result)  # 3

(13, 7, 30, 3)
13
7
30
3

In [37]:
def say_hello(name, age, man=True):
    print(name, age, man)

say_hello("Alice", 25, False)  # Alice 25 False

Alice 25 False

In [38]:
def say_hello(name, man=True, age):
    print(name, age, man)

# 에러에 대한 설명
# 기본 인자값이 있는 인자보다 뒤에 위치할 수 없다.

SyntaxError: non-default argument follows default argument (161562638.py, line 1)

In [39]:
a = 1

def vartest(a):
    # 지역 변수 a = 1
    a = a + 1

# a = 1
vartest(a)

# a = 1
print(a)

1

In [40]:
def vartest(b):
    b = b + 1

vartest(3)
print(b)

NameError: name 'b' is not defined

In [1]:
data = [1, 2, 3, 4, 5]

result_for_loop = []
# for loop
for item in data:
    result_for_loop.append(item + 1)

print(f"result_for_loop: {result_for_loop}")

# map function
def add_one(n):
    return n + 1

result_map = map(add_one, data)
print(f"result_map: {result_map}")
print(f"result_map: {list(result_map)}")

result_for_loop: [2, 3, 4, 5, 6]
result_map: <map object at 0x103a6b7c0>
result_map: [2, 3, 4, 5, 6]

In [3]:
# map을 사용하여 실수값들의 일괄적 정수화(가까운 정수값으로)
# tuple에 저장된 실수값들을 round 함수를 사용하여 정수화 
data_float = (3.14, -5.625, 100.4, 25.8)

tuple(map(round, data_float))

(3, -6, 100, 26)

In [5]:
# zip 함수
# 이미지의 색상별 데이터를 묶어서 24bpp RGB 이미지 만들기
r = (52, 255, 39, 132)
g = (19, 63, 227, 197)
b = (0, 68, 255, 187)

img = zip(r, g, b)

print(img)
print(list(img))

<zip object at 0x103a4e880>
[(52, 19, 0), (255, 63, 68), (39, 227, 255), (132, 197, 187)]

In [7]:
# enumerate 함수
# 과일 품목별 일련번호 부여하기
# tuple fruits에 있는 과일들을 1번부터 차례대로 보기와 같이 인쇄되도록 번호를 부여
# zip과 range를 이용하는 방법과 enumerate를 이용하는 방법
# 단, 결과는 dict로 생성
# {1: 'apple', 2: 'orange', 3: 'banana', 4: 'mango'}

fruits = ('apple', 'orange', 'banana', 'mango')

# zip, range
result = zip(range(1, len(fruits) + 1), fruits)
print(dict(result))

# enumerate
result = enumerate(fruits, start=1)
print(dict(result))

{1: 'apple', 2: 'orange', 3: 'banana', 4: 'mango'}
{1: 'apple', 2: 'orange', 3: 'banana', 4: 'mango'}

In [12]:
# function
def add_function(x, y):
    return x + y

print(add_function(1, 9)) # 10

# lambda
print((lambda x, y: x + y)(1, 9)) # 10

data = [1, 2, 3, 4, 5]
list(map(lambda x: x + 1, data))

10
10

[2, 3, 4, 5, 6]

In [16]:
# map, lambda - 시퀀스의 각 요소에 함수를 적용하여 새로운 시퀀스를 생성
# 각 정수의 제곱을 반환
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, numbers))
print(squared) # [1, 4, 9, 16]

# filter, lambda - 시퀀스에서 특정 조건을 만족하는 요소만 추출
# 각 정수에서 짝수인 요소만 추출
numbers = [1, 2, 3, 4, 5]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)  # [2, 4]

# filter, sorted - sorted 함수의 키로 사용하여 특정 조건에 따라 데이터를 정렬
# tuple의 두 번째 값을 기준으로 정렬
# 출력: [(5, 1), (1, 2), (3, 4)]
# built-in function sorted: https://docs.python.org/3/library/functions.html#sorted
# sorting how to: https://docs.python.org/3/howto/sorting.html#sortinghowto
points = [(1, 2), (3, 4), (5, 1)]
sorted_points = sorted(points, key=lambda x: x[1])
print(sorted_points)  # [(5, 1), (1, 2), (3, 4)]

[1, 4, 9, 16]
[2, 4]
[(5, 1), (1, 2), (3, 4)]

In [17]:
# module 예제 1
import math

num_1 = math.pow(2, 3)
num_2 = math.sqrt(9)

print(num_1 + num_2)

11.0

In [18]:
# module 예제 2
import math as m

num_1 = m.pow(2, 3)
num_2 = m.sqrt(9)

print(num_1 + num_2)

11.0

In [19]:
# module 예제 3
from math import *

num_1 = pow(2, 3)
num_2 = sqrt(9)

print(num_1 + num_2)

11.0

In [20]:
# module 예제 4
from math import pow, sqrt

num_1 = pow(2, 3)
num_2 = sqrt(9)

print(num_1 + num_2)

11.0

In [21]:
# module 예제 5
from math import pow as p, sqrt as sq

num_1 = p(2, 3)
num_2 = sq(9)

print(num_1 + num_2)

11.0

In [39]:
# 난수 번호 추첨기 (무작위 생성된 6개의 숫자 출력)
import random as r

# print(r.sample(range(1, 46), 6))

numbers = set()
loop_count = 0
while len(numbers) < 6:
    numbers.add(r.randint(1, 45))
    loop_count += 1

print(f"loop: {loop_count}, {list(numbers)}")

loop: 6, [33, 12, 14, 15, 23, 26]

In [41]:
# 컴퓨터와 대결하는 가위, 바위, 보 게임 만들기
# 다음 코드가 동작할 수 있도록 check_win() 함수와 continue_confirm() 함수 구현
from random import randint
rock_paper_scissor = ['가위', '바위', '보']

def check_win(user, computer):
    if user == computer:
        print("비겼습니다.")
        return False
    elif (user == '가위' and computer == '보') or \
         (user == '바위' and computer == '가위') or \
         (user == '보' and computer == '바위'):
        print(f"사용자 승리! 컴퓨터는 {computer}를 냈습니다.")
        return True
    else:
        print(f"컴퓨터 승리! 컴퓨터는 {computer}를 냈습니다.")
        return False
    
def continue_confirm():
    return input("계속 하시겠습니까? (y/n)") == 'y'

while True:
    user = input("가위, 바위, 보 중 하나를 입력하세요: ")
    computer = rock_paper_scissor[r.randint(0, 2)]
    if check_win(user, computer):
        if continue_confirm():
            continue
        else:
            break

비겼습니다.
비겼습니다.
컴퓨터 승리! 컴퓨터는 가위를 냈습니다.
사용자 승리! 컴퓨터는 보를 냈습니다.
비겼습니다.
사용자 승리! 컴퓨터는 보를 냈습니다.
컴퓨터 승리! 컴퓨터는 바위를 냈습니다.
컴퓨터 승리! 컴퓨터는 보를 냈습니다.
컴퓨터 승리! 컴퓨터는 보를 냈습니다.
컴퓨터 승리! 컴퓨터는 바위를 냈습니다.
사용자 승리! 컴퓨터는 보를 냈습니다.

In [2]:
# my module 실습
import my_module as mm

print(mm.add(1, 2))  # 3
print(mm.sub(5, 3))  # 2

3
2

In [11]:
# class Calculator
from calculator import Calculator

cal_1 = Calculator()
cal_2 = Calculator()

print(cal_1.add(2))  # 2
print(cal_1.add(3))  # 5
print(cal_2.add(5))  # 5
print(cal_2.add(10))  # 15

2
5
5
15